@using WebApp.Net.Core.Api.EF.Core.Angular.Models.Dtos
@model IEnumerable<PersonDto>

@{
}

<h2>Details</h2>

<div>
    <h4>Personas</h4>
<hr />
    <dl class="dl-horizontal">
        <dt>
            <table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Id)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        Acciones
                    </td>
                </tr>
             @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id })  |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
                    </td>
                </tr>
            }
        </table>
        </dt>
    </dl>
</div>
